/* .container {
display: flex;
position: absolute;
left: 50%;
transform: translate(-50%,0);
flex-direction: row;
background-color:red;
} */

.container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "box1 box 2";
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    flex-direction: row;
    /* background-color:red; */
}

.box1,
.box2 {
    flex: 50%;
    height: 575px;
    /* background-color: aqua;
    border: 2px solid black; */
}

.hello {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "box3 box3 box3"
        "box4 box5 box6";
    position: relative;
}

.box3 {
    grid-area: box3;
    height: 353px;
    /* background-color: blueviolet; */
}

.box4 {
    grid-area: box4;
    display: flex;
    justify-content: center;
    width: 230px;
    height: 200px;
    /* background-color: blueviolet; */
    /* border: 2px solid black;  */
}

.box5 {
    grid-area: box5;
    display: flex;
    justify-content: center;
    width: 230px;
    height: 200px;
    width: 230px;
    /* background-color: blueviolet; */
    /* border: 2px solid black;  */
}

.box6 {
    grid-area: box6;
    display: flex;
    justify-content: center;
    width: 230px;
    height: 200px;
    width: 230px;
    /* background-color: blueviolet; */
    /* border: 2px solid black;  */
}

.footer {
    flex: 25%;
    background-color: darkorange;
    border: 2px solid black;
}

img {
    width: auto;
}

.image_off,
#menu:hover .image_on {
    display: none
}

.image_on,
#menu:hover .image_off {
    display: block
}

@media only screen and (max-width: 480px) {

    .container {
        display: flex;
        justify-content: flex-start;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        flex-direction: column;
        background-color: red;
    }

    .box1 {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 350px;
    }

    .box4,
    .box5,
    .box6 {
        width: 33vw;
    }

    #img_hs {
        width: 300px;
    }

    .image_off,
    #menu:hover .image_on {
        display: none;
        width: 100px;
    }

    .image_on,
    #menu:hover .image_off {
        display: block;
        width: 100px;
    }

}